html {
    background-color: #333
}

input, canvas, button {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    outline: black 3px solid;
}
